header{
    height:88px;
}

.tombol {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #00FFF5;
    padding: 5px 10px;
    border-radius: 7px;

}
    .tombol:hover {
        background-color: #F94B15;
        color:white !important;
    }
.list-menyamping {
    list-style-type:none;
    padding:0;
}
    .list-menyamping li {
        list-style:none;
    }
body {
    color: #fff;
    background-color: #1F1F1F;
    background-size: cover;
    display: flex;
}

.notif-alert {
    position: fixed;
    top: 0;
    right: 45%;
    width:160px;
    text-align: center;
    z-index: 5;
    background: rgba(255,1,1,.5);
    border-radius: 10px;
    border: solid 2px white;
    animation-name: fadein;
    animation-duration: 3s;
    padding-top:20px;
    padding-bottom:20px;
}
.pagecontain {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 80px;
    background: rgba(1,1,1,.3);
    min-height: 750px;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    position:relative;
}

.pagecontain-dashboard {
    width: 100%;
    padding-top: 77px;
    background: rgba(1,1,1,.3);
    min-height: 750px;
    display:flex;
}

.pagecontain-dashboard-kiri {
    width: 12%;
    background-color: #FF367E;
    position: fixed;
    height: 100%;
    animation-name: slidefromleft;
    animation-duration: 2s;
}

    .pagecontain-dashboard-kiri ul {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
.listmenudashboard {
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    padding:10px;
}

.listmenudashboard a{
    display:block;
    padding-left:10px;
    color:white;
}

    .listmenudashboard a:hover {
        color: black;
    }
    .listmenudashboard:hover {
        background-color: #00FFF5;
    }


.pagecontain-dashboard-kanan {
    width: 85%;
    margin-left: 15%;
}

.pagecontain-learnpage {
    width: 100%;
    padding-top: 100px;
    min-height: 650px;
}
footer {

    width: 100%;
    animation-name: slidefrombot;
    animation-duration: 2s;
    height: 100px;
    margin-top: 50px;
    border-top: 2px;
    border-color: #2F2F2F;
    border-top-style: solid;
}

.footer {
    padding-top:40px;
    font-size:14px;
}
.footer li{
    float:left;
    padding-right:40px;
    list-style:none;
}

.footer a{
    color:white;
}

    .footer p {
        padding-left:50px;
    }


.divkosong {
    padding-bottom:73px;
}

.navigationbar {
    animation-name: slidefromtop;
    animation-duration: 2s;
    background-color: #0C0C0C;
    position: fixed;
    width: 100%;
    z-index: 5;
    opacity: .9;
}

.logonav {
    margin:10px 25px;
}

#hamburgermenu {
    margin-top:10px;
    display:block;
    visibility:hidden;
}

.navbar-kiri li {
    float: left;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    padding-right: 20px;
}

.logonav:active {
    opacity:.8;
}

.logonav:hover {
    animation-name: jiggle;
    animation-duration: 2s;
}

.listmenunav {
    margin:20px 10px;
    display:block;
}
    .listmenunav:hover {
        opacity:.8;
    }

.navbar-kiri a {
    text-decoration: none;
    color: white;
}

.hover:hover{
opacity:0.8;
}

::placeholder {
    color: #E94560;
}

.navbar-kanan {
    display: flex;
    float:right;
    margin-right:20px;
}
.tombolregister {
    width: 80px;
    height: 40px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: turquoise;
    background-color: #00FFF5;
    transition: opacity .5s;
    margin: 20px 5px;
}

    .tombolregister:hover {
        opacity: .7;
    }

    .tombolregister a {
        color: black;
        font-weight: bold;
        display:block;
        margin-top:4px;
        padding-top:4px;
    }

.tombollogin {
    transition: opacity .5s;
    width: 80px;
    height: 40px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: #00FFF5;
    background-color: black;
    margin:20px 5px;
}


    .tombolregister:active {
        transform:translateY(10%);
        transform:translateY(10%);
    }
.tombollogin:active {
    transform: translateY(10%);
}

    .tombollogin:hover {
        opacity: .7;
    }

.tombollogin a {
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 4px;
    padding-top: 4px;
}


#errormessage {
    margin-top:150px;
    font-size:40px;
    text-align:center;
    color:white;
    opacity:.7;
}

.bold {
    font-weight:bold;
}

#dropdownnama {
    color: white;
    display: inline-block;
}

    #dropdownnama a {
        font-weight: bold;
    }

.navbar-profile {
    display:flex;
    margin:15px 10px;
}

    .navbar-profile img {
        border-radius: 20px;
    }


.modal-container {
    display:none;
}

.navbar-notifcart a{
    margin:10px;
    display:inline-block;
}
.navbar-notifcart p{
    position:absolute;
    color:white;
    z-index:5;
    bottom:-2px;
    background:rgba(255,0,0,.7);
    border-radius:20px;
    padding:4px 9px;
    right:-5px;
}
.navbar-notifcart-satuan {
    position:relative;
    margin-right:5px;
    margin-left:5px;
}

.navbar-notifcart {
    margin: 16px 0;
    display:flex;
}

.navbar-notifcart a:hover {
    opacity:.7;
}

#fotomrp {
    margin:13px 0;
    margin-left:15px;
    margin-right:0px;
    padding:0;
}

#tulisanmrp {
    padding:2px 3px;
    border-top: solid 2px #00FFF5;
    border-right: solid 2px #00FFF5;
    border-bottom: solid 2px #00FFF5;
    margin-right:15px;
}
