/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0,0,0,.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-content-nama {
    display: none;
    position: absolute;
    background: rgba(0,0,0,.7);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border: solid 1px #C01672;
}

.bagiandropdownprofile1 {
    display: flex;
    text-align: left;
    padding:0 10px;
    margin-top: 5px;
    border-bottom: solid 1px #C01672;
}

#dropdown-content-nama p {
    font-size: 14px;
}
    /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content-nama a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
}
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            opacity:0.7;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #dropdown-content-nama {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
