#backgroundlogin {
    background-color: transparent;
    color: white;
}

#judullogin {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}

#containerlogin {
    margin-top: 20px;
    animation-name: appear;
    animation-duration: 3s;
}
