#backgroundregis {
    background-color: transparent;
    color: white;
}

#judulregis {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}

#containerregister {
    animation-name: appear;
    animation-duration: 3s;
    margin-top: 20px;
}
